<div class="menu">
  <a href="/">
    <h1 id="logo" class="grid_3">Live • Kinect</h1>
  </a>
  <nav role="navigation">
    <ul>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
</div>
