<nav role="navigation">
  <a class="brand" href="/">Live•Kinect</a>
  <ul class="nav-links">
    {{#if user}}
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/logout">Logout</a></li>
    {{else}}
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    {{/if}}
  </ul>
</nav>
