<div class="hero">
  <div class="container">
    <div class="sixteen columns">
      <div class="row">
        <h1>Live•Kinect</h1>
        <h2>A new way for performance artists to connect with venues.</h2>
        <br>
        <a href="/register" class="btn">Get Started</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="sixteen columns content">
    <section class="row">
      <div class="eight columns alpha">
        <h2>Connect With Artists</h2>
        <p>
          Easily find artists looking for venues in your area, see their availability,
          and book them instantly.
        </p>
      </div>
      <div class="eight columns omega">
        <h2>Connect With Venues</h2>
        <p>
          Let venues know where you are and when you are available. Build your
          press kit on Live Kinect to share what you can do then let the gigs
          find you.
        </p>
      </div>
    </section>

    <hr>

    <section class="row">
      <div class="eight columns alpha">
        <img src="/img/cuatro.jpg" alt="Connect">
        <h2>Connect With People</h2>
        <p>
          Automatically share your calendar with your fans. As you are booked, your
          calendar updates with all the information they need to catch your act.
        </p>
      </div>
      <div class="eight columns omega">
        <img src="/img/music.jpg" alt="Music">
        <h2>Build Your Press Kit</h2>
        <p>
          Build a rich press kit of your work to share with venues.
        </p>
      </div>
    </section>
  </div>
</div>