<div class="slide" id="jumbotron">
  <section class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <h1>Live • Kinect</h1>
      <h2>A new way for performance artists to connect with venues.</h2>
      <br>
      <a href="/register" class="btn btn-primary">Get Started</a>
    </div>
  </section>
</div>

<div class="spacer"></div>

<div class="slide">
  <section class="row">
    <div class="col-md-2"></div>
    <img src="/img/cuatro.jpg" alt="Connect" class="col-md-2">
    <div class="col-md-6">
      <h2>Connect With Artists</h2>
      <p>
        Easily find artists looking for venues in your area, see their availability,
        and book them instantly.
      </p>
    </div>
    <div class="col-md-2"></div>
  </section>
</div>

<div class="slide" id="venues">
  <section class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <h2>Connect With Venues</h2>
      <p>
        Let venues know where you are and when you are available. Build your
        press kit on Live Kinect to share what you can do then let the gigs
        find you.
      </p>
    </div>
  </section>
</div>

<div class="slide">
  <section class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <h2>Connect With People</h2>
      <p>
        Automatically share your calendar with your fans. As you are booked, your
        calendar updates with all the information they need to catch your act.
      </p>
    </div>
    <img src="/img/music.jpg" alt="Music" class="col-md-2">
    <div class="col-md-2"></div>
  </section>
</div>
