<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Live • Kinect</title>

  <link rel="stylesheet" href="/styles/style.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
</head>
<body>

  {{> menu}}

  {{{body}}}

  {{> footer}}

  <script src="{{settings.script}}"></script>
</body>
</html>
