<div class="form-wrap">
  <div class="row">
    <div class="offset-by-six">
      <form role="form" name="login" novalidate action="/login" method="post" accept-charset="utf-8">
        <div class="error-message">{{error}}</div>
        <input type="text" class="form-control" name="id" placeholder="Username or Email" autofocus>
        <input type="password" class="form-control" name="password" placeholder="Password">
        <button type="submit" class="btn-dark">Login</button>
      </form>
    </div>
    <div class="offset-by-six">
      <p>Not a member yet? <a href="/register">Create an account</a>.</p>
    </div>
  </div>
</div>

<div class="container">
  <hr>
</div>

<script src="/js/pages/login.js"></script>
