<form action="/login" method="post" accept-charset="utf-8" class="login-form">

  <div class="grid_4 alpha"></div>

  <div class="inner grid_4">
    <input name="id" value="" placeholder="Username or Email Address">
    <input type="password" name="password" value="" placeholder="Password">
    <p><button type="submit">Login</button></p>
  </div>

  <div class="grid_4 omega"></div>

</form>
