<div ng-controller="registerController" class="form-wrap">
  <div class="row">
    <div class="offset-by-six">
      <form role="form" name="register" novalidate action="/register" method="post" accept-charset="utf-8">
        <div class="error-message">{{errors}}</div>
        <input type="text" class="form-control" name="username" placeholder="Username" autofocus>
        <input type="email" class="form-control" name="email" placeholder="Email Address">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <input type="text" class="form-control" name="first" placeholder="First Name">
        <input type="text" class="form-control" name="last" placeholder="Last Name">
        <button type="submit" class="btn-dark">Sign Up</button>
      </form>
    </div>
    <div class="offset-by-six">
      <p>Already a member? <a href="/login">Sign in</a>.</p>
    </div>
  </div>
</div>

<div class="container">
  <hr>
</div>

<script>
  var reqData = {{{json data}}};
</script>
<script src="/js/pages/register.js"></script>
