<form action="/register" method="post" accept-charset="utf-8" class="register-form">

  <div class="grid_4 alpha"></div>

  <div class="inner grid_4">
    <input name="username" value="" placeholder="Username">
    <input name="first" value="" placeholder="First Name">
    <input name="last" value="" placeholder="Last Name">
    <input name="email" value="" placeholder="Email Address">
    <input type="password" name="password" value="" placeholder="Password">
    <p><button type="submit">Register</button></p>
  </div>

  <div class="grid_4 omega"></div>

</form>
