<div ng-controller="registerController" class="form-wrap container">
  <div class="row">
    <div class="col-md-3"></div>

    <form role="form" class="col-md-6" name="registerForm" novalidate action="/register" method="post" accept-charset="utf-8">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Username" ng-model="username" required autofocus>
      </div>
      <div class="form-group">
        <label for="first">First Name</label>
        <input type="text" class="form-control" name="first" ng-model="first" placeholder="First Name" required>
      </div>
      <div class="form-group">
        <label for="last">Last Name</label>
        <input type="text" class="form-control" name="last" ng-model="last" placeholder="Last Name" required>
      </div>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" name="email" ng-model="email" placeholder="Email Address" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" ng-model="password" placeholder="Password" required>
      </div>

      <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">Sign Up</button>
    </form>

    <div class="col-md-3"></div>
  </div>
</div>

<script src="/js/pages/register.js"></script>
