<div ng-controller="registerController" class="form-wrap">
  <div class="row">
    <div class="offset-by-six">
      <form role="form" name="registerForm" novalidate action="/login" method="post" accept-charset="utf-8">
        <input type="text" class="form-control" name="username" placeholder="Username" ng-model="username" required autofocus>
        <input type="text" class="form-control" name="first" ng-model="first" placeholder="First Name" required>
        <input type="text" class="form-control" name="last" ng-model="last" placeholder="Last Name" required>
        <input type="email" class="form-control" name="email" ng-model="email" placeholder="Email Address" required>
        <input type="password" class="form-control" name="password" ng-model="password" placeholder="Password" required>
        <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">Sign Up</button>
      </form>
    </div>
    <div class="offset-by-six">
      <p>Already a member? <a href="/login">Sign in</a>.</p>
    </div>
  </div>
</div>

<div class="container">
  <hr>
</div>

<script src="/js/pages/register.js"></script>
