.slide {
  background-attachment: fixed;
  width: 100%;
  height: auto;
  position: relative;
  padding: 140px 0;
}

#jumbotron {
  margin-top: 50px;
  color: #E5E6D6;
  background-image: image-url('light.jpg');
}

#venues {
  color: #E5E6D6;
  background-image: image-url('king.jpg');
}
