/*
 * Skeleton V1.2
 * Copyright 2011, Dave Gamache
 * www.getskeleton.com
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 6/20/2012
 */

// Table of Content
// ==================================================
//  #Site Styles
//  #Page Styles
//  #Media Queries
//  #Font-Face

// #Site Styles
// ==================================================

img {
  max-width: 100%;
}

nav[role=navigation] {
  padding: 10px 0 5px 20px;
  background-color: $menuBackground;
  color: $menuColor;
  a {
    text-decoration: none;
    color: $menuColor;
  }
  ul {
    position: absolute;
    display: inline-block;
    margin: 10px;
    list-style: none;
    li {
      display: inline-block;
      margin-left: 20px;
      font-size: 18px;
      color: $menuColor;
    }
  }
  .brand {
    display: inline-block;
    font-size: 35px;
  }
}

.form-wrap {
  margin: 50px auto;
  width: 300px;
  text-align: center;
  button {
    width: 100%;
  }
  input {
    width: 97%;
  }
}

[disabled] {
  cursor: not-allowed;
}

input.ng-invalid {
  background-color: rgba(255, 209, 208, 0.3);
}

// #Page Styles
// ==================================================

.hero {
  width: 100%;
  height: 275px;
  padding-top: 100px;
  margin-bottom: 40px;
  background-image: image-url('light.jpg');
  background-attachment: fixed;
  h1, h2 {
    font-family: $bodyFontFamily;
    color: #E5E6D6;
  }
  a {
    background-color: #E5E6D6;
  }
}

.dashboard {
  margin-top: 50px;
}

// #Media Queries
// ==================================================

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {}

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {}

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {}

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    .hero {
      height: 300px;
    }

    nav[role=navigation] {
      padding: 10px 0 20px 20px;
      ul {
        margin: 0 10px 0 30px;
        text-align: center;
        li {
          margin: 5px;
        }
      }
      .brand {
        margin-top: 10px;
      }
    }
  }


// #Font-Face
// ==================================================
//  This is the proper syntax for an @font-face file
//  Just create a "fonts" folder at the root,
//  copy your FontName into code below and remove
//  comment brackets

/*  @font-face {
      font-family: 'FontName';
      src: url('../fonts/FontName.eot');
      src: url('../fonts/FontName.eot?iefix') format('eot'),
           url('../fonts/FontName.woff') format('woff'),
           url('../fonts/FontName.ttf') format('truetype'),
           url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
      font-weight: normal;
      font-style: normal; }
*/
