body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #504D4C;
  background-color: #ffffff;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3.8em;
}

h2 {
  font-size: 2em;
}
